@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

body {
    background-image: url(kape.jfif);
    font-family: 'Rokkitt', serif;
    padding: 20px;

  }
  
  h1 {
    font-size: 40px;
    font-family: 'Rokkitt', serif;
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic;
  }
  
  h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: rgb(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 5%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: 'Rokkitt', serif;
   
  }
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
}